{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>Ensi'GameDev</h1>
    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <img class="img-fluid" src="{% static 'home/img/title.png' %}"/>
        </div>
        <div class="col-sm-12 col-lg-6">
            <h2>Bienvenu !</h2>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut urna nec libero tincidunt ultricies.
            Nullam nec nunc nec libero tincidunt ultricies. Nullam nec nunc nec libero tincidunt ultricies.
            Nullam nec nunc nec libero tincidunt ultricies. Nullam nec nunc nec libero tincidunt ultricies.
            Nullam nec nunc nec libero tincidunt ultricies. Nullam nec nunc nec libero tincidunt ultricies.
            Nullam nec nunc nec libero tincidunt ultricies. Nullam nec nunc nec libero tincidunt ultricies.
            Nullam nec nunc nec libero tincidunt ultricies. Nullam nec nunc nec libero tincidunt ultricies.
            </p>
        </div>
    </div>
    <div id="articles">
        TODO
    </div>
{% endblock %}